__pycache__
/.vscode
/bot-env
/guilds/*.json
/logo
/utils
analytics.json
config.json
log*.txt
patreon_config.json
patreon_data.json
patreon_info.py
patron_auths.json
push.bat
secondaries.txt
venv.bat
